<div class="container">
  <%= link_to 'Back to my cars', my_cars_cars_path %>
  <ul>
    <% @bookings.each do |booking| %>
      <% car = Car.find(booking.car_id) %>
      <% user = User.find(booking.user_id) %>
      <li><%= car.make %> | <%= car.model %> | $<%= car.price_day %>/day</li>
      <li>Booked by: <%= user.email %></li>
      <li>Start date: <%= booking.start_date %></li>
      <li>End date: <%= booking.end_date %></li>
      <li>Total price: <%= booking.total_price %></li>
    <% end %>
  </ul>
</div>

<h1>For testing</h1>
<div class="group">
  <input type="text" id="calendar-tomorrow">
  <span class="bar"></span>
  <label class="input-label">From tomorrow</label>
</div>
