  <h1 style="text-align:center;">Car Booking</h1>
  <div class="container booking-container my-3" style="width: 27rem;">
    <h5 style="text-align:center; padding-bottom: 5px;">Please confirm Car details before booking</h5>
    <div class="container mx-2">
      <div class="d-flex justify-content-between">
        <h6> <strong>Make:</strong> <%= @car.make %></h2>
        <h6 style="margin-right:15px;"> <strong>Model:</strong>  <%= @car.model %></h2>
      </div>
        <h6> <strong>Year:</strong> <%= @car.year %></h2>
        <h6> <strong>Model:</strong>  <%= @car.address %></h2>
    </div>
  </div>
  <div class="container booking-container" style="width: 27rem;">
    <div class="d-flex justify-content-center">
      <div class="simple-form">
      <div class="row ">
        <div class="mb-3 col-12">
          <h6>Please choose dates</h6>
        </div>
        <div class="mb-3 col-12">
          <%= simple_form_for [@car, @booking] do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <%= f.text_field :date,
            data: {
              controller: "flatpickr",
              flatpickr_date_format: ("Y-m-d"),
              flatpickr_min_date: Time.zone.now
            } %>
          <div class="mb-3 col-12">
            <%= f.button :submit, class: "book-now-form " %>
          </div>
         <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
