
<div class="card-product bg-white">
  <div class="container py-3 mb-3 border-bottom">
    <div class="row">
      <div class="col-md-6">
        <%= cl_image_tag(car.photo.key, width: 300) if car.photo.attached? %>
      </div>
      <div class="col-md-3">
      <h3><%="#{car.make} #{car.year}"%></h3>
      <h4><%=car.model%></h4>
      <div class="d-flex flex-row">
        <i class="fab fa-brands fa-linkedin fa-100x" ></i>
        <h5><%=car.address%></h5>
      </div>
      <h6 class="availibale"> Availibale Now</h6>
      <h6> Minimum 7 Days</h6>
      <h6 > Free km: 100 + 50 EXTRA</h6>
      </div>
      <div class="col-md-3">
        <b>
         <span style="position:relative;top:-18px; font-weight:bold;">$</span>
          <span style="font-size:36px;"><%= car.price_day %></span>
        </b>
        / Day
        <%# <%= link_to('Edit', edit_car_path(car), class:'link-primary') if policy(car).update? %>
        <%#= link_to('Delete', car_path(car), method: :delete, class:'link-danger') if policy(car).destroy? %>
        <%#= link_to("Book A Car", new_car_booking_path(car), class: "book-car-btn") unless car.user = current_user%>
        <%= link_to "Book Now", car_path(car), class: "btn book-now" %>
      </div>
    </div>
  </div>
</div>
