 <div class="card-product-infos d-flex justify-content-between">
    <%= cl_image_tag(car.photo.key, width: 100) if car.photo.attached? %>
    <div class="car-card mx-3">
      <h5><%= car.make %> | <%= car.model %></h5>
      <h6 class="mark-price">$<%= car.price_day %> / day</h6>
      <p><%= car.address %></p>
    </div>
  </div>
