 <div class="d-flex justify-content-between">
  <div class="mark-img">
    <%= cl_image_tag(car.photo.key, width: 100) if car.photo.attached? %>
  </div>
    <div class="car-card mx-3">
      <h6><%= car.make %> | <%= car.model %></h6>
      <p class="mark-price">$<%= car.price_day %> / day</p>
      <p><%= car.address %></p>
    </div>
  </div>
