<div class="container booking-container my-5" style="width: 35rem;">

  <h2 style="color: #293462">Edit Your Car</h2>
  <%= simple_form_for @car do |f| %>
    <%= f.input :make %>
    <%= f.input :model %>
    <%= f.input :price_day %>
    <%= f.submit %>
  <% end %>
</div>
