<div class="container">
  <h1>Add My Cars</h1>
  <p>Add a new car for rent</p>

  <div>
    <%= simple_form_for @car do |f| %>
  <%= f.input :make %>
  <%= f.input :model %>
  <%= f.input :price_day %>
  <%= f.input :address %>
  <%= f.submit %>
<% end %>
  </div>

  <%# link_to('Edit', edit_car_path(car)) if policy(car).update? %>
</div>
